.cotizaciones__layout {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 8px;
  background-color: #1B2123;
  padding: 12px;
}


.cotizaciones__tabla-principal {
  grid-column: 2 / span 6;
  grid-row: 2 / span 6;
  padding: 45px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px
  ;
} 