.modal-auth-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-auth {
  background: #1B2123;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  max-width: 90%;
  color: #f1f1f1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.modal-auth h2 {
  margin-bottom: 20px;
  font-size: 1.6rem;
  color: #1EA392;
  text-align: center;
}

.modal-auth input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: none;
  background: #f5f5f5;
  font-size: 1rem;
}

.modal-auth button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  background: #1EA392;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.modal-auth button:hover {
  background: #13897c;
}
